.ES-main-div{
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
  justify-content: center;
  text-align: center;
}

.ES-H2{
    margin-top: 20px;
    margin-bottom: 20px;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.image-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}

.plans-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.plan-item {
    background: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 200px;
    max-height: 200px;
}

.tag button {
    margin-top: 0;
    background: none;
    border: none;
    color: white;
    margin-left: 5px;
    cursor: pointer;
}

.tag:hover{
    background-color: rgb(9, 73, 247);
}
.input-container {
    position: relative;
    width: 100%;
    margin: 15px 0;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    transition: 0.3s;
}

.input-container label {
    position: absolute;
    top: 70%;
    left: 10px;
    background: white;
    padding: 0 5px;
    font-size: 16px;
    color: #777;
    transition: 0.3s;
    transform: translateY(-70%);
}

.input-container input:focus,
.input-container input:not(:placeholder-shown) {
    border-color: #9c9c9c;
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #919191;
}

.VH-submitVenue-button{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.VH-submitVenue-button button:hover{
    background-color: #002246;
}
