.ServicesCpage {
    display: flex;
    flex-direction: row;
  }
  
  .filters {
    display: flex;
    flex-direction: column;
    width: 15%;
    padding: 20px;
    background-color: rgba(255, 123, 200, 0.35);  
    backdrop-filter: blur(3px);
  }
  
  .filter-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .servicesC-list {
    width: 80%;
    height: 1200px;
    max-height: 650px;
    overflow-y: auto;
    overflow-x: hidden; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 20px;
    padding-left: 60px;
    border-radius: 10px;
    margin-left: 35px;
    background-color: rgba(255, 255, 255, .35);  
    backdrop-filter: blur(5px);
    padding-top: 50px;
    scrollbar-width: none;
    margin-top: 10px;
    justify-content: center;
    justify-items: center;
  }
  
  /* Hide default radio */
  input[type="radio"] {
    display: none;
  }
  
  .radio-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
  }
  
  .radio-label::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #a7a7a7;
    background-color: white;
    transition: 0.3s;
  }
  
  /* Inner dot */
  .radio-label::after {
    content: "";
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #05172b;
    opacity: 0;
    transition: 0.3s;
  }
  
  input[type="radio"]:checked + .radio-label::after {
    opacity: 1;
  }
  
  .checkbox-label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    gap: 10px;
  }
  
  .filter-heading {
    margin-bottom: 30px;
  }
  